
<div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label>指标:</label>
                    <select id="target" v-model="selected" class="form-control" @change="changeTarget" >
                        <option v-for="(v, k) in options" v-bind:value="k">
                            {{ v }}
                        </option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div v-bind:id="id" class="zd-stat-chart text-center">
                <link rel="stylesheet" href="vcx/zd-stat-chart.css" />
                历史趋势</span><br>
                <svg></svg>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div v-bind:id="sid" class="zd-seg-chart text-center">
                <link rel="stylesheet" href="vcx/zd-stat-chart.css" />
                <span>数值分布</span><br>
                <svg></svg>
            </div>
        </div>
    </div>
</div>
