.zd-stat-chart>svg path{
    fill: none;
    stroke: steelblue;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.0px;
}

.zd-seg-chart>svg path{
    stroke: steelblue;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.0px;
}

.d3area{
    fill: lightblue;
}